@theme {
  --animate-jelly: jelly 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;

  @keyframes jelly {
    0% {
      scale: 1 1;
    }
    30% {
      scale: 1.08 0.92;
    }
    40% {
      scale: 0.95 1.05;
    }
    60% {
      scale: 1.03 0.97;
    }
    80% {
      scale: 0.99 1.01;
    }
    100% {
      scale: 1 1;
    }
  }
}